{% extends "base.html" %}

{% block title %} Mark List {% endblock title %}

{% block content %}
	<div class="row mt-5">
		<div class="col">
			<div class="d-flex flex-row justify-content-between align-items-center">
				<span class="display-3">{{ subject }}</span> 
				<a href="{% url "subjects:edit-marks" subject.code %}" class="btn btn-warning">Edit Mark</a>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Student</th>
						<th>Mark</th>
					</tr>
				</thead>
				<tbody>
					{% for student, mark in student_dict.items %}
					<tr>
						<td><a href="{{ student.profile.get_absolute_url }}">{{ student }}</a></td>
						<td>{{ mark|default_if_none:"-" }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}