{% extends "base.html" %}
{% block title %}Subjects{% endblock title %}
{% block content %}
	<div class="row mt-5">
		<div class="col-4">
			<h1>Subjects</h1>
			<ul class="list-group my-2">
					{% for subject in subjects %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<span><strong>{{ subject }}</strong> - {{ subject.name }}</span>
							<a href="{% url "subjects:subject-detail" subject.code %}" class="btn btn-outline-secondary"><i class="bi bi-eye"></i></a>
						</li>
						{% empty %}
							<div class="alert alert-warning" role="alert">
								Yikes! No subjects found.
							</div>						
					{% endfor %}
			</ul>
		</div>
	</div>
	{% if not user.is_teacher %}
	<div class="row mt-2">
		<div class="col d-flex">
			{% if cases == 0 %}
				<a class="btn btn-outline-success me-3" href="{% url "subjects:enroll-subjects" %}">enroll</a>
				<a class="btn btn-outline-danger" href="{% url "subjects:unenroll-subjects" %}">unenroll</a>
			{% elif cases == 1 %}
				<a class="btn btn-outline-success me-3" href="{% url "subjects:enroll-subjects" %}">enroll</a>
				<button class="btn btn-outline-danger disabled">unenroll</button>
			{% else %}
				<button class="btn btn-outline-success me-3 disabled">enroll</button>
				<a class="btn btn-outline-danger" href="{% url "subjects:unenroll-subjects" %}">unenroll</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endblock %}