<div class="row">
	<div class="col-9">
		{% for lesson in subject.lessons.all %}
			<div>
				<h5>{{ lesson.title }}</h5>
				<a href="{% url "subjects:lesson-detail" subject.code lesson.pk %}">View</a>
			</div>
		{% endfor %}
		<a href="{% url "subjects:add-lesson" subject.code %}">Add Lesson</a>
	</div>

	<div class="col-3">
		<p>Lessons available: {{ subject.lessons.count }}</p>
		<a href="{% url "subjects:mark-list" subject.code %}">Marks</a>
		<ol>
			{% for student in subject.students.all %}
				<li>
					<a href="{{ student.profile.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>